* {
    box-sizing: border-box;
}

*::after, 
*::before {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 200;
    background: #eee;
    margin: 0;
}

header {
    text-align: center;
    height: 50vh;
    background: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    flex: 4rem;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, .2);
}

.nav_menu {
    background: #000;
    top: 0;
    width: 100%;
    transition: all .5s;
    position: relative;
    z-index: 1;
}

/* Приклеиваем меню навигации добовляя класс */
/* Происходит анимация при появлении класса «fixed-nav» у body */
.fixed-nav .nav_menu {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0, .1);
}
.fixed-nav .wrapper-text {
    transform: scale(1);
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nav-item {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*! Прячем логотип */
li.logo {
    max-width: 0;
    overflow: hidden;
    background: #fff;
    transition: all .5s;
    font-weight: 600;
    font-size: 30px;
} 
/* Происходит анимация при появлении класса «fixed-nav» у body */
.fixed-nav li.logo {
    max-width: 500px;
}

li.logo a {
    color: #000;
}

.nav-link {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: #fff;
    transition: all .2s;
    text-transform: uppercase;
}

.wraper-text {
    max-width: 700px;
    margin: 50px auto;
    background: #fff;
    padding: 40px;
    text-align: justify;
    transform: scale(.98);
    transition: transform .5s;
}
/* Происходит анимация при появлении класса «fixed-nav» у body */
.fixed-nav .wraper-text {
    transform: scale(1);
}