*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;

    min-height: 100vh;
    background: tomato;
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
}

nav {
    position: absolute;
    perspective: 600px;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.cool > li > a {
    color: yellow;
    text-decoration: none;
    font-size: 20px;
    background: rgba(0,0,0, .2);
    padding: 10px 20px;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
}

.cool > li {
    position: relative;
    display: flex;
    justify-content: center;
}

.dropdown {
    /* opacity: 0;
    display: none; */
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 2px;
    transition: all .5s;
    transform: translateY(100px);
    will-change: transform;
}

.dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgbs(0,0,0, .1);
    transition: all .3s, opacity .1s, translate .2s;
    transform-origin: 50% 0%;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.arrow {
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
    display: block;
}

.info {
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
}

.info p img {
    float: left;
    width: 150px;
    margin-right: 20px;
}

.info {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
}

.portfolio {
    min-width: 300px;
}

.portfolio li {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(0,0,0, .2);
}

.dropdown a {
    text-decoration: none;
    color: #ffc600;
}

a.button {
    background: #000;
    display: block;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.button[href*twitter] {background: #019FE9;}
.button[href*facebook] {background: #3B5998;}
.button[href*portfolio] {background: #ffc600;}

.logo {
    margin: 20px auto 10px;
    display: block;
    width: 86px;
    height: 189px;
}