html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: tomato;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 800px;
    padding: 30px;
    border: 1px solid white;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all .2s;
    transform: scale(.98);
    will-change: transform;
    position: relative;
    background: rgb(212, 212, 212);
    font-size: 0;
    perspective: 500px;
}

.item {
    width: 300px;
    height: calc(100% - 40px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: grey;
    font-size: 40px;
    border: 2px solid rgba(25, 0, 255, 0.5)
}

.item:nth-child(even) {
    background: gold;
    transform: scaleX(1.31) rotateY(40deg);
}
.item:nth-child(odd) {
    background: rebeccapurple;
    transform: scaleX(1.31) rotateY(-40deg);
}
